---
import { cn } from '@/lib/utils';
// import { ContactForm } from './ContactForm';
---

<section
  id="contact"
  class={cn('bg-background-secondary', 'scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20')}
>
  <div class="section-wrapper py-16 flex flex-col gap-12.5 lg:flex-row lg:gap-45">
    <div class="flex-1">
      <h2
        class="text-3xl text-center lg:text-start font-bold mb-10 lg:mb-15 xl:mb-20 md:text-4xl lg:text-5xl"
      >
        <a href="#contact">Contact</a>
      </h2>
      <p class="body-text text-center mx-auto lg:text-start lg:mx-0 mb-6 lg:mb-8">
        I would love to hear about your project and how I could help. You can reach me through my
        email: <a href="mailto:elloani.pitogo@gmail.com" class="text-brand hover:underline"
          >elloani.pitogo@gmail.com</a
        >.
      </p>
      <p class="body-text text-center mx-auto lg:text-start lg:mx-0 mb-6 lg:mb-8">
        You can also fill in the form, and I’ll get back to you as soon as possible.
      </p>
    </div>
    <!-- <ContactForm className="flex-1" client:idle /> -->
  </div>
</section>
