---
import { cn } from '@/lib/utils';

import MyImage from './MyImage.astro';
import Socials from '../Socials.astro';
import CTAButtons from './CTAButtons.astro';
---

<section
  class={cn(
    'section-wrapper md:mt-16 lg:mt-22.5 mt-8 mb-25 md:mb-37 lg:mb-50',
    'md:flex md:justify-between md:gap-8'
  )}
>
  <div
    class="flex flex-col items-center text-center md:items-start md:text-left md:w-[70%] bg-no-repeat bg-center bg-contain bg-[url(/src/assets/hero-section-bg-img.svg)] md:bg-left"
  >
    <h1
      class="text-foreground text-4xl leading-[1.25] font-bold md:text-5xl lg:text-7xl text-balance mb-4 md:mb-2"
    >
      Hi there!<br />I'm <span class="text-brand">Elloani Pitogo</span>.
    </h1>
    <p
      class="mb-7 md:mb-6 lg:mb-8 text-foreground/90 leading-[1.625] md:text-lg lg:text-2xl italic"
    >
      You can call me <span class="font-bold text-brand">Wani</span>!
    </p>
    <MyImage class="md:hidden max-w-[15rem] mb-6" />
    <Socials class="md:hidden mb-7" />
    <p class="body-text mb-10 lg:mb-12">
      I'm a Frontend Software Engineer with over 6 years of experience. I'm currently based in The
      Philippines.
    </p>
    <CTAButtons />
  </div>
  <div class="hidden md:flex md:flex-col md:items-center">
    <MyImage class="w-full max-w-xs mb-8" />
    <Socials />
  </div>
</section>
