---
import { cn } from '@/lib/utils';
import type { NavigationSettingsQueryResult } from '@/lib/sanity/queries';

type NavigationLink = NonNullable<NavigationSettingsQueryResult>['navigationLinks'][number];

const { class: className, links = [] } = Astro.props as {
  class?: string;
  links?: NavigationLink[];
};
---

{
  links.length > 0 && (
    <nav class={cn(className)}>
      <ul class="flex xs:gap-8 gap-6 xs:flex-row flex-col items-center">
        {links.map(({ label, href }) => (
          <li>
            <a href={href} class="text-foreground hover:text-brand">
              {label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
