---
import { cn } from '@/lib/utils';

interface NavigationLink {
  label: string;
  href: string;
}

const navigationLinks: NavigationLink[] = [
  {
    label: 'About',
    href: '#about',
  },
  {
    label: 'Skills',
    href: '#skills',
  },
  {
    label: 'Projects',
    href: '#projects',
  },
  {
    label: 'Contact',
    href: '#contact',
  },
];

const { class: className } = Astro.props;
---

<nav class={cn(className)}>
  <ul class="flex xs:gap-8 gap-6 xs:flex-row flex-col items-center">
    {
      navigationLinks.map(({ label, href }) => (
        <a href={href} class="text-foreground hover:text-brand">
          {label}
        </a>
      ))
    }
  </ul>
</nav>
