---
import { Image } from 'astro:assets';

import swoop from '@/assets/swoop.svg';
import { ProjectList } from './ProjectList';
---

<section id="projects" class="scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20">
  <div class="section-wrapper py-16">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl text-center md:text-start font-bold mb-10 md:mb-15 lg:mb-20"
    >
      <a href="#projects">Projects</a>
    </h2>
    <ProjectList client:load />
  </div>
  <Image class="-mb-0.25 w-full" src={swoop} alt="" loading="eager" decoding="auto" />
</section>
