---

---

<section id="skills" class="scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20">
  <div class="section-wrapper py-16">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl text-center md:text-start font-bold mb-10 md:mb-15 lg:mb-20"
    >
      <a href="#skills">Skills</a>
    </h2>
  </div>
</section>
