@import 'tailwindcss';

@theme {
  --color-primary: hsl(32, 32%, 78%);
  --color-grey-darkest: hsl(0, 0%, 8%);
  --color-grey-dark: hsl(0, 0%, 14%);
  --color-grey-light: hsl(0, 0%, 85%);
  --color-white: hsl(0, 0%, 100%);
}
