---
import BaseLayout from '../layouts/BaseLayout.astro';

import HeroSection from '@/components/HeroSection';
import AboutSection from '@/components/AboutSection';
---

<BaseLayout>
  <main>
    <HeroSection />
    <AboutSection />
  </main>
</BaseLayout>
