---
import BaseLayout from '../layouts/BaseLayout.astro';

import HeroSection from '@/components/HeroSection';
import AboutSection from '@/components/AboutSection';
import ContactSection from '@/components/ContactSection';
---

<BaseLayout>
  <main>
    <HeroSection />
    <AboutSection />
    <ContactSection />
  </main>
</BaseLayout>
