---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 class="text-white text-4xl">
    Hi there! I'm <strong class="underline decoration-primary">Elloani Ross Pitogo</strong>
  </h1>
</BaseLayout>
