---
import BaseLayout from '../layouts/BaseLayout.astro';

import HeroSection from '@/components/HeroSection';
import AboutSection from '@/components/AboutSection';
import ProjectsSection from '@/components/ProjectsSection';
import ContactSection from '@/components/ContactSection';
import SkillsSection from '@/components/SkillsSection';

Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set(
  'Vercel-CDN-Cache-Control',
  'public, max-age=3600, stale-while-revalidate=86400'
);
---

<BaseLayout>
  <main>
    <HeroSection />
    <AboutSection />
    <SkillsSection />
    <ProjectsSection />
    <ContactSection />
  </main>
</BaseLayout>
