---
// import { Languages, Menu, Moon } from 'lucide-react';

import { cn } from '@/lib/utils';
import Logo from '../Logo.astro';
import NavigationLinks from '../NavigationLinks';
import { MobileMenuButton } from './MobileMenu/MobileMenuButton';
import { MobileMenu } from './MobileMenu';
---

<header class={cn('sticky top-0 z-50', 'backdrop-blur-md bg-background/80')}>
  <div class={cn('section-wrapper py-6 md:py-7.5 lg:py-9', 'flex items-center gap-4')}>
    <Logo class="shrink-0 flex-1" />
    <NavigationLinks class="hidden md:block" />
    <div class="flex-1 flex gap-4 md:gap-8 justify-end">
      {/** TODO: mode switcher */}
      <!-- <Button variant="ghost" size="icon">
        <Moon className="size-5 md:size-6" />
        <span class="sr-only">Change theme</span>
      </Button> -->
      {/** TODO: i18n */}
      <!-- <Button variant="ghost" size="icon">
        <Languages className="size-5 md:size-6" />
        <span class="sr-only">Change language</span>
      </Button> -->
      <MobileMenuButton client:load />
    </div>
    <MobileMenu client:load />
  </div>
</header>
