---
import { Image } from 'astro:assets';
import { Languages, Menu, Moon } from 'lucide-react';

import logo from '@/assets/logo/ep-logo-dark.svg';
import { Button } from '@/components/ui/button';
import { cn } from '@/lib/utils';
---

<header
  class={cn(
    'section-wrapper py-6 md:py-7.5 lg:py-9 sticky -top-0.25 z-50',
    'backdrop-blur-md bg-background/80',
    'flex justify-between items-center gap-4'
  )}
>
  <a href="/" class="shrink-0">
    <Image
      src={logo}
      alt="Elloani Ross's personal portfolio logo"
      loading="eager"
      decoding="auto"
    />
  </a>

  <div class="flex gap-4 md:gap-8">
    <Button variant="ghost" size="icon">
      <Moon className="size-5 md:size-6" />
      <!-- <Sun /> -->
      <span class="sr-only">Change theme</span>
    </Button>
    <Button variant="ghost" size="icon">
      <Languages className="size-5 md:size-6" />
      <span class="sr-only">Change language</span>
    </Button>
    <Button className="lg:hidden" variant="ghost" size="icon">
      <Menu className="size-5 md:size-6" />
      <span class="sr-only">Open menu</span>
    </Button>
  </div>
</header>
