---
import { Languages, Menu, Moon } from 'lucide-react';
import { Button } from '@/components/ui/button';
import { cn } from '@/lib/utils';
---

<header
  class={cn(
    'sticky top-0 p-6 md:p-9 lg:px-16 md:px-10 max-w-6xl mx-auto',
    'backdrop-blur-md bg-background/80',
    'flex justify-between items-center gap-4'
  )}
>
  <div>
    <a href="/">
      <img src="/src/assets/logo/ep-logo-dark.svg" alt="Elloani Ross's personal portfolio logo" />
    </a>
  </div>
  <div class="flex gap-4 md:gap-8">
    <Button variant="ghost" size="icon">
      <Moon className="size-5 md:size-6" />
      <!-- <Sun /> -->
      <span class="sr-only">Change theme</span>
    </Button>
    <Button variant="ghost" size="icon">
      <Languages className="size-5 md:size-6" />
      <span class="sr-only">Change language</span>
    </Button>
    <Button className="lg:hidden" variant="ghost" size="icon">
      <Menu className="size-5 md:size-6" />
      <span class="sr-only">Open menu</span>
    </Button>
  </div>
</header>
