---

---

<section class="max-w-6xl mx-auto mt-6">
  <div
    class="px-4 py-6 sm:px-8 sm:py-22.5 lg:py-31 text-center sm:text-left sm:w-[72%] sm:max-w-md lg:max-w-2xl bg-no-repeat bg-center bg-contain bg-[url(/src/assets/hero-section-bg-img.svg)]"
  >
    <h1 class="text-foreground text-4xl leading-[1.25] font-bold sm:text-5xl lg:text-7xl">
      Hi there! I'm&nbsp;<span class="text-brand">Elloani&nbsp;Pitogo</span>.
    </h1>
    <p class="mt-2 text-foreground/90 leading-[1.625] font-medium sm:text-lg lg:text-2xl">
      You can call me <span class="font-bold">Wani</span>!
    </p>
    <p
      class="mt-6 text-muted-foreground leading-[1.625] font-medium sm:text-lg sm:mt-8 sm:leading-[1.5] lg:mt-11"
    >
      I'm a Frontend Software Engineer with over 6 years of experience. I'm currently based in The
      Philippines.
    </p>
  </div>
</section>
