---
import logoUrl from '@/assets/logo/ep-logo-dark.svg?url';

const { class: className } = Astro.props;
---

<a href="/#" class={className}>
  <img
    src={logoUrl}
    alt="Elloani Ross's personal portfolio logo"
    width="70"
    height="30"
    loading="eager"
    decoding="auto"
  />
</a>
