---
import { Image } from 'astro:assets';

import logo from '@/assets/logo/ep-logo-dark.svg';

const { class: className } = Astro.props;
---

<a href="/" class={className}>
  <Image src={logo} alt="Elloani Ross's personal portfolio logo" loading="eager" decoding="auto" />
</a>
