---
import { cn } from '@/lib/utils';
import { Icon } from 'astro-icon/components';

const { class: className } = Astro.props;
---

<div class={cn('flex gap-4 justify-center md:justify-start', className)}>
  <a
    class="text-foreground hover:text-brand focus-visible:text-brand"
    href="https://github.com/thewanionly/"
    target="_blank"
    aria-label="Github"
  >
    <Icon name="github" class="text-2xl" />
  </a>
  <a
    class="text-foreground hover:text-brand focus-visible:text-brand"
    href="https://www.linkedin.com/in/pitogoelloaniross/"
    target="_blank"
    aria-label="LinkedIn"
  >
    <Icon name="linkedin" class="text-2xl" />
  </a>
</div>
