---
import { sanityClient } from 'sanity:client';

import { aboutSectionQuery } from '@/lib/sanity/queries';
import type { AboutSectionQueryResult } from '@/lib/sanity/queries';

const aboutSection = await sanityClient.fetch<AboutSectionQueryResult>(aboutSectionQuery);
---

{
  aboutSection && (
    <section id="about" class="scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20">
      <div class="section-wrapper py-16">
        <h2 class="text-4xl md:text-5xl lg:text-6xl text-center md:text-start font-bold mb-10 md:mb-15 lg:mb-20">
          <a href="#about">{aboutSection.title}</a>
        </h2>
        <div class="flex flex-col gap-20 md:gap-15">
          {aboutSection.entries.map((entry) => (
            <div class="flex flex-col md:flex-row gap-6 items-center justify-between mx-auto md:mx-0">
              <p class="body-text text-center md:text-start">{entry.body}</p>
              {entry.illustration?.asset?.url && (
                <div class="aspect-[2] w-full max-w-[380px] min-w-0">
                  <img
                    class="w-full h-full object-contain"
                    src={entry.illustration.asset.url}
                    alt={entry.illustration.alt || ''}
                    loading="lazy"
                    decoding="async"
                  />
                </div>
              )}
            </div>
          ))}
        </div>
      </div>
    </section>
  )
}
