---
import Socials from '../Socials.astro';
import Logo from '../Logo.astro';

const currentYear = new Date().getFullYear();
---

<footer class="section-wrapper bg-background-secondary py-7.5 flex flex-col items-center">
  <!-- Decorative divider -->
  <div class="h-px bg-foreground mb-10 w-full" aria-hidden="true"></div>
  <Logo class="mb-7" />
  <Socials class="mb-12.5" />
  <p class="body-text text-xs text-center md:text-start md:mx-0">
    © {currentYear} Elloani Ross Pitogo. All rights reserved.
  </p>
</footer>
