---
// Supports weights 200-800
import '@fontsource-variable/plus-jakarta-sans';

import '@/styles/global.css';

import Header from '@/components/Header';
import Footer from '@/components/Footer';
import { Toaster } from '@/components/ui/sonner';
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elloani Ross Pitogo | Frontend Software Engineer</title>
  </head>
  <body>
    <Header />
    {/* Portal target for mobile menu */}
    <div id="mobile-menu-root" class="relative top-0 left-0"></div>
    <slot />
    <Footer />
    <Toaster client:idle />
  </body>
</html>
