---
// Supports weights 200-800
import '@fontsource-variable/plus-jakarta-sans';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

import '@/styles/global.css';

import Header from '@/components/Header';
import Footer from '@/components/Footer';
import { Toaster } from '@/components/ui/sonner';
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elloani Ross Pitogo | Frontend Software Engineer</title>
    <meta
      name="description"
      content="The portfolio website of Elloani Ross Pitogo, a Frontend Engineer currently based in The Philippines."
    />
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Toaster client:idle />
    {/* Portal target for mobile menu */}
    <div id="mobile-menu-root" class="fixed w-full top-19.5 left-0"></div>
  </body>
</html>
